<html>
<head>
    <title>Upload d'images</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/do-upload">
        <label for="fichier">Fichier image :</label>
        <input type="file" name="image" id="fichier">
        <input type="submit" value="Envoyer">
    </form>

    <table>
        <tr>
            <th>Nom</th>
        </tr>
        <% fichiers.forEach(fichier => {%>
        <tr>
            <td><%= fichier %></td>
            <td><img src="images/<%= fichier %>" height="100px"></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>