<html>
<head>
    <title>Ping</title>
</head>
<body>
    <% if(error) { %>
        <strong>Erreur : <%= error %></strong>
    <% } else { %>
        <pre><%= result %></pre>
    <% } %>
</body>
</html>